.Auth {
    background: url('/src/shared/assets/img/background.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}